{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container-fluid">
            <div class="row">
                <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                    <div class="title-group mb-3">
                        <h1 class="h2 mb-0">Welcome to Plattypus</h1>
                    </div>

                    <div class="row my-4">
                        <div class="col-lg-7 col-12">
                            <!-- Add your logo here -->
{#                            <img src="{% static 'path_to_your_logo.png' %}" alt="Plattypus Logo" class="img-fluid mb-4">#}

                            <p>
                                Take charge of your financial future with Plattypus - register now and embark on a journey towards financial prosperity and peace of mind.
                            </p>
                        </div>

                        <div class="col-lg-9 col-12">
                            <div class="detail-box">
                                <div class="btn-box">
                                    <a href="{% url 'about' %}" class="btn-1 btn btn-primary me-3">About Us</a>
                                    <a href="{% url 'profile_create' %}" class="btn-2 btn btn-secondary">Register</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <div class=" col-lg-10 mx-auto">
                              <div class="img-box">
                                <img src="{% static 'images/platypus.png' %}" alt="">
                              </div>
                            </div>
                          </div>
                </div>
                    </div>
                </main>
            </div>
        </div>
{% endblock %}