{% extends 'base.html' %}
{% load static %}
{% block content %}

                <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                    <div class="title-group mb-3">
                        <h1 class="h2 mb-0">Dashboard</h1>

                        <small class="text-muted">Hello {{ user.first_name }} {{ user.last_name }}, welcome back!</small>
                    </div>

                    <div class="row my-4">
                        <div class="col-lg-7 col-12">
                            <div class="custom-block custom-block-balance">
                                <small>Your Balance</small>

                                <h2 class="mt-2 mb-3">{{ balance }}</h2>

                            </div>

                            <div class="custom-block bg-white">
                                <h5 class="mb-4">History</h5>

                                <div id="pie-chart"></div>
                            </div>

                            <div class="custom-block bg-white">
                                <div id="chart"></div>
                            </div>

                            <div class="custom-block custom-block-exchange">
                                <h5 class="mb-4">Exchange Rate</h5>

                                <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/flag/united-states.png' %}" class="exchange-image img-fluid" alt="">

                                        <div>
                                            <p>USD</p>
                                            <h6>1 US Dollar</h6>
                                        </div>
                                    </div>

                                    <div class="ms-auto me-4">
                                        <small>Sell</small>
                                        <h6>1.0931</h6>
                                    </div>

                                    <div>
                                        <small>Buy</small>
                                        <h6>1.0821</h6>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/flag/european-union.png' %}" class="exchange-image img-fluid" alt="">

                                        <div>
                                            <p>EUR</p>
                                            <h6>1 Euro</h6>
                                        </div>
                                    </div>

                                    <div class="ms-auto me-4">
                                        <small>Sell</small>
                                        <h6>0.6901</h6>
                                    </div>

                                    <div>
                                        <small>Buy</small>
                                        <h6>0.6201</h6>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/flag/united-kingdom.png' %}" class="exchange-image img-fluid" alt="">

                                        <div>
                                            <p>GBP</p>
                                            <h6>1 British Pound</h6>
                                        </div>
                                    </div>

                                    <div class="ms-auto me-4">
                                        <small>Sell</small>
                                        <h6>1.1520</h6>
                                    </div>

                                    <div>
                                        <small>Buy</small>
                                        <h6>1.1412</h6>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center border-bottom pb-3 mb-3">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/flag/australia.png' %}" class="exchange-image img-fluid" alt="">

                                        <div>
                                            <p>AUD</p>
                                            <h6>1 Australian Dollar</h6>
                                        </div>
                                    </div>

                                    <div class="ms-auto me-4">
                                        <small>Sell</small>
                                        <h6>0.6110</h6>
                                    </div>

                                    <div>
                                        <small>Buy</small>
                                        <h6>0.5110</h6>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/flag/bulgaria.png' %}" class="exchange-image img-fluid" alt="">

                                        <div>
                                            <p>BGN</p>
                                            <h6>1 Lev</h6>
                                        </div>
                                    </div>

                                    <div class="ms-auto me-4">
                                        <small>Sell</small>
                                        <h6>1.1020</h6>
                                    </div>

                                    <div>
                                        <small>Buy</small>
                                        <h6>1.1010</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-12">
                            <div class="custom-block custom-block-profile-front custom-block-profile text-center bg-white">
                                <div class="custom-block-profile-image-wrap mb-4">
                                        {% if user.profile_picture %}
                                            <img src="{{ user.profile_picture.url }}" class="custom-block-profile-image img-fluid" alt="profile pic">
                                        {% else %}
                                            <img src="{% static 'images/profile/blank pfp.jpeg' %}" class="custom-block-profile-image img-fluid" alt="profile pic">
                                        {% endif %}

                                    <a href="{% url 'profile_edit' pk=user.pk %}" class="bi-pencil-square custom-block-edit-icon"></a>
                                </div>

                                <p class="d-flex flex-wrap mb-2">
                                    <strong>Name:</strong>

                                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                                </p>

                                <p class="d-flex flex-wrap mb-2">
                                    <strong>Email:</strong>

                                    <a href="#">
                                        {{ user.email }}
                                    </a>
                                </p>

                                <p class="d-flex flex-wrap mb-0">
                                    <strong>Username:</strong>

                                    <a href="#">
                                        {{ user.username }}
                                    </a>
                                </p>
                            </div>

                            <div class="custom-block custom-block-bottom d-flex flex-wrap">
                                <div class="custom-block-bottom-item">
                                    <a href="{% url 'add_income' %}" class="d-flex flex-column">
                                        <i class="custom-block-icon bi-wallet"></i>

                                        <small>Add income</small>
                                    </a>
                                </div>

                                <div class="custom-block-bottom-item">
                                    <a href="{% url 'add_expense' %}" class="d-flex flex-column">
                                        <i class="custom-block-icon bi bi-cash-coin"></i>

                                        <small>Add expense</small>
                                    </a>
                                </div>
                            </div>

                            <div class="custom-block custom-block-transations">
                                <h5 class="mb-4">Recent Notes</h5>
                                {% for note in notes %}
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <div class="d-flex align-items-center">

                                        <div>
                                            <p>
                                                <a href="{% url 'note_details' pk=note.pk %}">{{ note.subject }}</a>
                                            </p>

                                        </div>
                                    </div>

                                    <div class="ms-auto">
                                        <small>{{ note.timestamp }}</small>
                                        <a class="d-flex align-items-center"><span class="me-1"></span> {{ note.sender }}</a>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="border-top pt-4 mt-4 text-center">
                                    <a class="btn custom-btn" href="{% url 'create_note' %}">
                                        Send note
                                        <i class="bi-arrow-up-right-circle-fill ms-2"></i>
                                    </a>
                                </div>
                            </div>
                        <div class="custom-block custom-block-transations">
                                <h5 class="mb-4">Savings</h5>
                                {% for saving in savings %}
                                <div class="d-flex flex-wrap align-items-center mb-4">
                                    <div class="d-flex align-items-center">

                                        <div>
                                            <p>
                                                <a href="{% url 'savings_edit' pk=saving.pk %}">{{ saving.goal_name }}</a>
                                            </p>

                                        </div>
                                    </div>

                                    <div class="ms-auto">
                                        <small>{{ saving.target_date }}</small>
                                        <strong class="d-block text-danger"><span class="me-1"></span> {{ saving.target_amount }}</strong>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="border-top pt-4 mt-4 text-center">
                                    <a class="btn custom-btn" href="{% url 'add_savings' %}">
                                        Add Savings
                                        <i class="bi-arrow-up-right-circle-fill ms-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
{% endblock %}