{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="container-fluid">
            <div class="row">
                <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                    <div class="title-group mb-3">
                        <h1 class="h2 mb-0">Login</h1>
                    </div>

                    <div class="row my-4">
                        <div class="col-lg-7 col-12">
                            <!-- Add your registration form here -->
                            <form method="post" action="{% url 'profile_login' %}" class="needs-validation" novalidate>
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="mb-3">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        <div class="invalid-feedback">
                                            {{ field.errors }}
                                        </div>
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </div>

                        <div class="col-md-12">
                          <div class="row">
                            <div class=" col-lg-10 mx-auto">
                              <div class="img-box">
                                <img src="{% static 'images/platypus.png' %}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
{% endblock %}